
 <footer>
    <div class="container">
      <p>&copy; 2025 Modelverse B.V. | CoC 89447476 - All rights reserved. {{site.time | date_to_string}}.</p>
   <br>
      <a href="contact.html" title="Contact Us" style="text-decoration: none;">
      <i class="fa-regular fa-address-card fa-2x"></i>
      </a>
    &nbsp;
      <a href="https://linkedin.com/company/modelverse" target="_blank" rel="noopener noreferrer" title="LinkedIn">
      <i class="fa-brands fa-linkedin fa-2x"></i>
    </a>
    </div>
  </footer>